.App {
   text-align: center;
}

.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   margin-top: 5%;
}

.container * {
   text-decoration: none;
   color: black;
}
