.App {
   text-align: center;
   margin-top: 2%;
}

.paginationBs {
   width: 60%;
   margin: 1% auto 2% auto;
}

.cardBS:hover {
   color: rgb(46, 129, 181);
   transform: scale(1.03);
   transition: 200ms ease-out;
   cursor: default;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 99;
}
.sorting {
   margin-bottom: 1%;
}