.App {
   text-align: center;
   margin-top: 2%;
}

.paginationBs {
   width: 60%;
   margin: 1% auto 2% auto;
}

.cardBS:hover {
   color: steelblue;
   transform: scale(1.03);
   transition: 200ms ease-out;
   cursor: default;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 99;
   font-weight: bolder !important;
}
.sorting {
   display: flex;
   width: 50%;
   margin: auto;
   margin-bottom: 1%;
}

.sorting * {
   flex: 1;
}

.filterClass {
   flex: 1;

   margin-left: 2%;
}

.title {
   font-size: 18px !important;
   margin-top: 2%;
}
